// Pre-processed variables

@import "bootstrap/scss/functions";

// Variable overrides
$primary: #e91b2f;
$grid-gutter-width: 0;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  max: 1920px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  max: 1740px
);

$font-family-base: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-title: "Oxanium", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;

$body-color: #e7eaee;
$body-bg: #111519;

$bgColor: $body-bg;
$bgColorOpacity: #111519be;
$bgColorDark: #0a0d10;

$offcanvas-horizontal-width: 100vw;
$offcanvas-vertical-height: 100vh;
$offcanvas-bg-color: $bgColorDark;
$offcanvas-color: $body-color;

$btn-border-radius: 0;
$btn-border-radius-sm: 0;
$btn-border-radius-lg: 0;
