.gallery-page {
    width: 100%;
    overflow-x: hidden; 

    .gallery-wrapper {
        position: relative;
    }

    .title {
        position: absolute;
        top: 50%;
        text-align: left;
        width: 30%;
        transform: translate(30%, -30%);
    }

    .subtitle {
        text-align: left;
        width: 45%;
        margin-left: 13%;
    }

    .horizontal-line {
        position:relative;
        width: 45rem;
        height: 2px;
        background-color: $primary;
        margin-left: auto;
    }
      
    .vertical-line {
        position: absolute;
        
        left: 9.75%;
        
        top: 75%; 
        bottom: 0;
        
        width: 0.2rem;
        height: 45rem;
        background-color: $primary;
    }

    .box {
        display: block;

        padding: 0.5rem;
    
        border-top: 2px solid $primary;
        border-right: 2px solid $primary;
        border-bottom: 2px solid $primary;
        border-left: 2px solid $primary;
        background: transparent;
        width: min(50vw, 55rem);
        margin-left: clamp(-2rem, -6vw, -10rem);
    }
    .box img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .side-by-side {
        display: flex;
        // gap: 3rem;
        align-items: flex-start;
        // padding-left: 10rem;
        // padding-right: 10rem;
        padding-inline: clamp(1rem, 5vw, 10rem);
        
    }
    
    .comp-column-1 {
        flex: 1 1 0;
        min-width: 25rem;

        img{
            width: 100%;
            height: auto;
            object-fit: contain;
            padding: 0.5rem;

        }
    }

    .comp-column-2 {
        flex: 1 1 0;
        min-width: 25rem;
    
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            padding: 0.5rem;
        }
    }
    .center {
        display: flex;
        justify-content: center;
        padding-bottom: 3.0rem;
    }
    .center compare-images {
        width: 100%;
    }
    .comparison {
        justify-content: center;
        width: 100vw;
        height: auto;
 
        margin-bottom: 1.5rem;
    }
    .comparison compare-images {
        display: block;
        width: 100%;
        height: 100%;
    }

    .col-1 {

        flex: 1 1 50%;
        max-width: 55rem;
        min-width: 0;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            padding: 0.5rem;
        }
    }

    .columns-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        gap: 1rem;
        padding-inline: clamp(1rem, 4vw, 2rem);
        padding-top: 2rem;
    }
    .column-1,
    .column-2,
    .column-3 {
      flex: 1 1 18rem; 
      max-width: 25rem;
  
      img {
        width: 100%;
        height: auto;
        object-fit: contain;
        padding-bottom: 1.0rem;
      }
    }
    .paragraph {
        flex: 1 1 30%;
        max-width: 35rem;
        line-height: 1.6;
        min-width: 0;
    }

    @media (max-width: 768px) {
        .side-by-side {
          flex-direction: column;
          padding-inline: 1rem;
        }
        .col-1,
        .paragraph {
          width: 100%;
          max-width: none;
        }
      
        .box {
          margin-left: 0;
          width: 100%;
        }
    }

}