.gallery-page {

    .gallery-wrapper {
        position: relative;
    }

    .title {
        position: absolute;
        top: 50%;
        text-align: left;
        width: 30%;
        transform: translate(30%, -30%);
    }

    .subtitle {
        text-align: left;
        width: 45%;
        margin-left: 13%;
    }

    .horizontal-line {
        position:relative;
        width: 45rem;
        height: 2px;
        background-color: $primary;
        margin-left: auto;
    }
      
    .vertical-line {
        position: absolute;
        
        left: 9.75%;
        
        top: 75%; 
        bottom: 0;
        
        width: 0.2rem;
        height: 45rem;
        background-color: $primary;
    }

    .box {
        display: inline-block;
        padding: 0.5rem;
        // border: 2px solid $primary;
        border-top: 2px solid $primary;
        border-right: 2px solid $primary;
        border-bottom: 2px solid $primary;
        background: transparent;
        right: -8vw;
    }
    .box img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .side-by-side {
        display: flex;
    }
    
    .comp-column-1 {
        flex: 0 0 auto;
        padding-right: 2rem;
        width: 40rem;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            padding: 0.5rem;
        }
        
    }
    
    .comp-column-2 {
        width: 30rem;
        height: 25rem;
        flex: 0 0 auto;
    
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            padding: 0.5rem;
        }
    }

    .col-1 {
        flex: 0 0 auto;
        padding-right: 2rem;
        padding-bottom: 2rem;
        width: 55rem;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            padding: 0.5rem;
        }
    }

    .columns-wrapper {
        display: flex;
        justify-content: center;
    }

    .column-1 {
        flex: 0 0 auto;
        padding-right: 1rem;
        padding-left: 3rem;
        width: 30rem;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            padding: 0.5rem;
        }
    }

    .column-2 {
        flex: 0 0 auto;
        width: 25rem;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            padding: 0.5rem;
        }
    }

    .column-3 {
        flex: 0 0 auto;
        padding-right: 3rem;
        padding-left: 1rem;
        width: 30rem;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            padding: 0.5rem;
        }
    }

}