.gallery-page {

    .gallery-wrapper {
        position: relative;
    }

    .title {
        position: absolute;
        top: 50%;
        text-align: left;
        width: 30%;
        transform: translate(30%, -30%);
    }

    .subtitle {
        text-align: left;
        width: 45%;
        margin-left: 20%;
    }
      
    .vertical-line {
        position: absolute;
        
        left: 9.75%;
        
        top: 75%; 
        bottom: 0;
        
        width: 0.2rem;
        height: 45rem;
        background-color: $primary;
    }
    
}