.gallery-page {

    .gallery-wrapper {
        position: relative;
    }

    .title {
        position: absolute;
        top: 50%;
        text-align: left;
        width: 30%;
        transform: translate(30%, -30%);
    }

    .subtitle {
        text-align: left;
        width: 45%;
        margin-left: 13%;
    }

    .horizontal-line {
        position:relative;
        width: 45rem;
        height: 2px;
        background-color: $primary;
        margin-left: auto;
    }
      
    .vertical-line {
        position: absolute;
        
        left: 9.75%;
        
        top: 75%; 
        bottom: 0;
        
        width: 0.2rem;
        height: 45rem;
        background-color: $primary;
    }

    .side-by-side {
        display: flex;
       
    }
    
    .column-1 {
        flex: 0 0 auto;
        padding-right: 2rem;
        width: 40rem;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            padding: 0.5rem;
        }
        
    }
    
    .column-2 {
        width: 30rem;
        height: 25rem;
        flex: 0 0 auto;
    
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            padding: 0.5rem;
        }
    }
}